body {
    background-color: rgb(228, 171, 209);
    color: white;
    font-family: "PT Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700 px;
    margin: 0;
}

button {
    background-color: fuchsia;
    color: rgb(5, 0, 0);
    font-family: "PT Serif", serif;
}

    .passo {
        display: none;
    }

    .passo.ativo {
        display: block;
    }

    main {
        text-align: center;
        max-width: 90%;
    }

    img {
max-width: 80%;
    }